<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>for loop conditions</h1>
        <h1>
            {% for i in Name %}
            <h1>{{i}}</h1>
            {% endfor %}
        </h1>
        <h1>
            {% for c in Course %}
            <h1>{{c}}</h1>
            {% endfor %}
        </h1>
        
        <h1>
            <a href="{% url 'Url' %}"> Click Here to Navigate UrlPage </a>
        </h1>
    </center>
    
</body>
</html>