<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Team RCB........</h1>
        <h2>Faf du plessis</h2>
        <h2>Maxwell</h2>
        <h2>Harshal patel</h2>
        <h2>M.siraj</h2>
        <h2>Hasaranga</h2>
        <h2>S.Prabhudessai</h2>
        <h2>Dinesh karthik</h2>
        <h2>M. Bracewell</h2>
        <h2>A.Rawat</h2>
        <h2>M.Lomror</h2>
        <h2>J.Hazlewood</h2>
        <h3>
            <h1>
                <a href="{% url 'app1:page' %}"> Click Here to Navigate page </a>
            </h1>
        </h3>
    </center>
</body>
</html>